# Requirements for the F1 Race Replay project

# To install all dependencies, run the following command:
# pip install -r requirements.txt

fastf1
pandas
matplotlib
numpy
arcade
pyglet
scikit-learn
joblib